{% extends "base.html" %}

{% block title %}
{{config.get("title")}}{% if document.title != "index" %}
- {{document.title}}{% endif %}
{% endblock %}

{% block main %}
    {% for toc in document.toc %}
        <h{{toc['level']}}><a href="index.html#{{toc['id']}}">{{toc['text']}}</a></h{{toc['level']}}>
    {% endfor %}

    {{document.content|safe}}
   
    {% if document.modifiedTime %}
        {{ document.modifiedTime | strftime("%B %-d, %Y") }}
    {% endif %}


    {% if document.authors | length > 0 %}
         <ul id="docxel_authors">
             {% for author in document.authors %}
                 <li>{{author}}</li>
             {% endfor %}
         </ul>
     {% endif %}

    {% if document.editable_by_anyone %}
        <style>
            #editme a{background:#000;color:#fff;text-decoration:none;font-family:arial,sans-serif;text-align:center;font-weight:bold;padding:5px 40px;font-size:1rem;line-height:2rem;position:relative;transition:0.5s;}
            
            #editme a:hover{background:#c11;color:#fff;}#editme a::before,#editme a::after{content:"";width:100%;display:block;position:absolute;top:1px;left:0;height:1px;background:#fff;}
            
            #editme a::after{bottom:1px;top:auto;}
            
            @media screen and (min-width:800px){
                #editme{position:fixed;display:block;top:0;right:0;width:200px;overflow:hidden;height:200px;z-index:9999;}
                
                #editme a{width:200px;position:absolute;top:60px;right:-60px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);box-shadow:4px 4px 10px rgba(0,0,0,0.8);
                }
            }
        </style>
        <span id="editme">
        <a href="https://docs.google.com/document/d/{{document.id}}/edit">Edit me</a>
        </span>        
    {% endif %}
{% endblock %}

