@media screen and (max-width: 1100px) {
   .explore-header {
      height: 420px;

      .search-input {
         width: 100%;
      }
   }

   .explore-content {
      width: 100%;
      padding: 0 18px;

      a {
         width: 100%;
      }
   }

   h2 {
      float: left;
   }
}

@media screen and (min-width: 1100px) {
   .explore-header {
      height: 390px;

      .search-input {
         width: 360px;
      }
   }

   .explore-content {
      width: 900px;

      a {
         top: -24px;
         margin-left: 30%;
         width: 70%;
         margin-right: 30px;
      }

      h2 {
         top: 12px;
         width: 25%;
         margin-bottom: 12px;
         color: #888;
      }
   }
}

//============================================================================
// Explore Header
//============================================================================

.explore-header {
   display: block;
   position: relative;
   width: 100%;
   background: #000;
   background: linear-gradient(90deg, #205d78, #3888ab);
   text-align: center;
   box-shadow: 12px 0px 30px rgba(0,0,0,0.6);
   color: #fff;

   .headline {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 120px 30px 0 30px;
   }

   .welcome-icon {
      display: inline-block;
      font-size: 48px;
      color: #fff;
      color: rgba(255,255,255,0.6);
      margin-bottom: 18px;
   }

   .title {
      font-family: 'Montserrat';
      font-size: 21px;
      text-transform: uppercase;
      margin-bottom: 12px;
   }

   .subtitle {
      font-family: 'Roboto Slab';
      font-size: 18px;
      color: rgba(255,255,255,0.6);
      margin-bottom: 24px;
   }

   .search-input {
      margin: auto;
      position: relative;
      background: #fff;
      border-radius: 21px;
      padding: 12px 0;
      height: 42px;
      box-shadow: inset 2px 2px 6px rgba(0,0,0,0.3);

      .icon {
         position: absolute;
         top: 6px;
         left: 12px;
         font-size: 24px;
         color: #aaa;
      }

      .algolia-autocomplete {
         width: 100%;
      }

      input {
         width: 100%;
         padding: 0 0 0 48px;
         font-size: 14px;
         height: 18px;
         line-height: 18px;
      }
   }
}

//============================================================================
// Explore Content
//============================================================================

.explore-content {
   margin: auto;

   a {
      float: left;
      position: relative;
      color: #03A9F4;
      font-size: 18px;
      line-height: 30px;
      font-weight: 300;
   }

   .icon {
      position: absolute;
      top: 66px;
      left: 30px;
      font-size: 42px;
      color: #205d78;
   }

   h1 {
      float: left;
      width: 100%;
      border-top: 1px solid #ddd;
      padding-top: 30px;
      margin-top: 30px;
      font-size: 16px;
      font-family: 'Montserrat';
      text-transform: uppercase;
      font-weight: bold;
      color: #205d78;

      a {
         margin: 0;
         top: 0;
         width: auto;
      }
   }

   h2 {
      position: relative;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 21px;
      font-weight: 700;
      margin-bottom: 12px;
      color: #888;
   }

   .section-break {
      float: left;
      display: block;
      width: 100%;
      height: 48px;
   }
}
