.gns3-document {
  float: left;
  width: 100%;
  position: relative;
}
.doc-icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  font-size: 30px;
  text-align: center;
  background: #03A9F4;
  color: #fff;
  border-radius: 50%;
  margin-bottom: 30px;
  margin-right: 12px;
}
.gns3-document-toc {
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  padding: 0px 0px 0px 30px;
  bottom: 0;
  background: #fafafa;
  background: #E1F5FE;
}
.gns3-document-toc h1 {
  display: block;
  text-align: left;
  font-size: 14px;
  line-height: 18px;
  font-family: 'Montserrat';
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 12px;
  font-weight: 700;
  border-top: 1px solid #ddd;
  border-top: 1px solid #B3E5FC;
  margin-top: 12px;
}
.gns3-document-toc h1 a {
  color: #546E7A;
}
.gns3-document-toc h1:first-child {
  border: none;
}
.gns3-document-toc h2 {
  display: block;
  text-align: left;
  font-size: 14px;
  line-height: 21px;
  padding-left: 24px;
  padding-bottom: 18px;
  padding-right: 30px;
}
.gns3-document-toc h2 a {
  color: #444;
}
.gns3-document-toc h2.active {
  font-weight: 700;
  color: #03A9F4;
}
.gns3-document-toc h3 {
  display: none;
}
.gns3-document-main {
  float: left;
  padding-left: 270px;
}
.gns3-document-styles {
  padding: 60px 78px;
  font-weight: 300;
  position: relative;
  padding-right: 378px;
}
.gns3-document-styles .meta {
  position: absolute;
  right: 0;
  top: 72px;
  width: 270px;
  min-height: 600px;
  border-left: 1px solid #ddd;
  padding: 0px 30px;
  font-size: 13px;
  line-height: 18px;
  color: #777;
}
.gns3-document-styles .title {
  font-size: 30px;
  line-height: 36px;
  padding-bottom: 60px;
  font-family: 'Montserrat';
  text-transform: uppercase;
  color: #386777;
  color: #03A9F4;
  font-weight: 700;
}
.gns3-document-styles h1 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 300;
  margin: 60px 0px 30px 0px;
  font-family: 'Montserrat';
  text-transform: uppercase;
  color: #03A9F4;
  font-weight: 700;
}
.gns3-document-styles h2 {
  border-top: 1px solid #bbc4c8;
  margin-bottom: 30px 0px 30px 0px;
  padding-top: 30px;
  color: #3d92af;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.gns3-document-styles h3 {
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 12px;
}
.gns3-document-styles ul,
.gns3-document-styles ol,
.gns3-document-styles p {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 24px;
  color: #555;
}
.gns3-document-styles a {
  color: #03A9F4;
  text-decoration: underline;
}
.explore-header {
  display: block;
  position: relative;
  width: 100%;
  background: #000;
  background: linear-gradient(90deg, #205d78, #3888ab);
  text-align: center;
  height: 390px;
  box-shadow: 12px 0px 30px rgba(0, 0, 0, 0.6);
  color: #fff;
}
.explore-header .headline {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 120px 0 0 0;
}
.explore-header .welcome-icon {
  display: inline-block;
  font-size: 48px;
  color: #fff;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 18px;
}
.explore-header .title {
  font-family: 'Montserrat';
  font-size: 21px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.explore-header .subtitle {
  font-family: 'Roboto Slab';
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 24px;
}
.explore-header .search-input {
  margin: auto;
  position: relative;
  width: 360px;
  background: #fff;
  border-radius: 21px;
  overflow: hidden;
  padding: 9px 0;
  height: 42px;
  box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.3);
}
.explore-header .search-input .icon {
  position: absolute;
  top: 6px;
  left: 12px;
  font-size: 24px;
  color: #aaa;
}
.explore-header .search-input input {
  width: 100%;
  padding: 0 0 0 48px;
  font-size: 14px;
  height: 18px;
  line-height: 18px;
}
.explore-wrapper {
  width: 900px;
  margin: auto;
}
.explore-block {
  float: left;
  width: 100%;
  position: relative;
  padding: 60px 0 60px 270px;
  border-bottom: 1px solid #ddd;
}
.explore-block a {
  float: left;
  width: 100%;
  color: #03A9F4;
  margin-right: 30px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}
.explore-block .icon {
  position: absolute;
  top: 66px;
  left: 30px;
  font-size: 42px;
  color: #205d78;
}
.explore-block h1 {
  position: absolute;
  top: 66px;
  top: 132px;
  left: 30px;
  font-size: 16px;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-weight: bold;
  color: #205d78;
}
.explore-block h2 {
  font-size: 24px;
  line-height: 21px;
  font-weight: 300;
  margin-bottom: 12px;
  color: #555;
}
.explore-block .section-break {
  float: left;
  display: block;
  width: 100%;
  height: 48px;
}
body {
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', 'sans-serif';
  background: #fff;
}
#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 78px;
  line-height: 78px;
  z-index: 3;
  background: rgba(0, 0, 0, 0.6);
  font-family: 'Montserrat';
  text-transform: uppercase;
}
#header.welcome {
  background: rgba(0, 0, 0, 0.3);
}
.xs #header,
.sm #header {
  background: rgba(0, 0, 0, 0.8);
}
.xs #header .actions,
.sm #header .actions {
  border: none;
}
.xs #header .actions a,
.sm #header .actions a {
  font-size: 24px;
}
.xs #header .aux-nav,
.sm #header .aux-nav {
  float: right;
}
.md #header .aux-nav,
.lg #header .aux-nav,
.xl #header .aux-nav {
  position: absolute;
  top: 50%;
  right: 0;
  height: 30px;
  line-height: 30px;
  margin-top: -15px;
}
.lg #header,
.xl #header {
  height: 78px;
  line-height: 78px;
}
#logo {
  float: left;
  padding: 18px;
}
#logo img {
  height: 36px;
}
#nav {
  float: left;
  margin-left: 0px;
}
.xs #nav,
.sm #nav {
  display: none;
}
.md #nav {
  height: 78px;
  line-height: 78px;
}
.lg #nav,
.xl #nav {
  height: 78px;
  line-height: 78px;
}
#nav a {
  float: left;
  color: #fff;
  padding: 0 18px;
  font-size: 12px;
  font-weight: bold;
}
#nav .icon {
  display: none;
}
.header-push {
  float: left;
  display: block;
  width: 100%;
  height: 78px;
  background: linear-gradient(90deg, #03A9F4, #B2EBF2);
}
.gns3-wrapper {
  display: block;
  position: relative;
  width: 720px;
  margin: auto;
  width: 100%;
}
.subheader {
  float: left;
  display: block;
  width: 100%;
  height: 78px;
  line-height: 78px;
  padding: 0px 24px 0px 24px;
  background: #03A9F4;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
}
.subheader b {
  color: #fff;
}
.subheader a {
  color: #666;
  color: rgba(255, 255, 255, 0.8);
}
.subheader .breadcrumb {
  float: left;
  font-size: 14px;
  font-family: 'Montserrat';
  text-transform: uppercase;
}
.subheader .search-input {
  float: right;
  position: relative;
  width: 240px;
  height: 36px;
  margin: 21px 0;
}
.subheader .search-input .icon {
  position: absolute;
  top: -12px;
  left: 12px;
  font-size: 20px;
  color: #fff;
}
.subheader .search-input input {
  float: left;
  width: 240px;
  padding: 18px 0 18px 48px;
  font-size: 14px;
  height: 18px;
  line-height: 18px;
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 21px;
  transition: 300ms;
}
.subheader .search-input input:focus {
  background: rgba(0, 0, 0, 0.2);
}
.subheader .search-input input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.subheader .search-input input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.subheader .search-input input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.subheader .search-input input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
a {
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:active {
  outline: none;
}
a:focus {
  -moz-outline-style: none;
  outline: 0;
}
img {
  border: none;
  margin: 0;
  padding: 0;
  display: block;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
button {
  border: none;
  outline: none;
  background: none;
}
input,
textarea {
  border: none;
  outline: none;
  background: none;
  -webkit-appearance: none;
}
table {
  border-collapse: collapse;
  border: none;
}
th,
td {
  text-align: left;
  padding: 0;
}
td {
  vertical-align: top;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix {
  zoom: 1;
}
/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}
p {
  margin: 0;
}
.release-note-block {
  position: relative;
  width: 960px;
  margin: auto;
}
.release-note-block .description {
  float: left;
  width: 70%;
  border-left: 1px solid #ddd;
  padding: 0px 60px;
}
.release-note-block .description a {
  text-decoration: none;
}
.release-note-block .meta {
  float: left;
  width: 30%;
  padding: 60px;
  text-align: right;
  color: #03A9F4;
}
.release-note-block .meta .badge {
  display: inline-block;
  padding: 3px 12px;
  color: #fff;
  background: #aaa;
  border-radius: 3px;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 12px;
}
.release-note-block .meta .badge.alpha {
  background: #FF4081;
}
.release-note-block .meta .badge.beta {
  background: #673AB7;
}
.release-note-block .meta .badge.rc {
  background: #FFC107;
}
.release-note-block .meta .badge.stable {
  background: #4CAF50;
}
#welcome-particles {
  position: absolute;
  top: 200px;
  left: -200px;
  right: -200px;
  bottom: -200px;
  z-index: 2;
}
#welcome-particles canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.welcome-splash {
  display: block;
  position: relative;
  width: 100%;
  background: linear-gradient(90deg, #205d78, #3888ab);
  text-align: center;
  height: 540px;
  box-shadow: 12px 0px 30px rgba(0, 0, 0, 0.6);
  color: #fff;
  overflow: hidden;
}
.welcome-splash .welcome-headline {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 180px 0 0 0;
  z-index: 11;
}
.welcome-splash .welcome-icon {
  display: inline-block;
  font-size: 48px;
  color: #fff;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 18px;
}
.welcome-splash .title {
  font-family: 'Montserrat';
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.welcome-splash .subtitle {
  font-family: 'Roboto Slab';
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 24px;
}
.welcome-splash .search-input {
  margin: auto;
  position: relative;
  width: 360px;
  background: #fff;
  border-radius: 21px;
  padding: 9px 0;
  height: 42px;
  box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.3);
}
.welcome-splash .search-input .icon {
  position: absolute;
  top: 6px;
  left: 12px;
  font-size: 24px;
  color: #aaa;
}
.welcome-splash .search-input input {
  width: 360px;
  padding: 0 0 0 48px;
  font-size: 14px;
  height: 18px;
  line-height: 18px;
}
.welcome-container {
  display: block;
  width: 100%;
  padding: 0px 0px 60px 0px;
  text-align: center;
  background: #fafafa;
}
.welcome-wrapper {
  display: inline-block;
  width: 900px;
  margin: auto;
}
.welcome-title {
  float: left;
  width: 100%;
  padding: 18px 0;
  text-align: left;
  border-bottom: 1px solid #ccc;
  margin-bottom: 36px;
}
.welcome-title .title {
  float: left;
  font-family: 'Montserrat';
  font-size: 13px;
  text-transform: uppercase;
  color: #205d78;
}
.welcome-title .date {
  float: right;
  font-size: 12px;
  color: #888;
}
.welcome-tile {
  float: left;
  width: 180px;
  height: 150px;
  padding: 0 24px;
  text-align: center;
  font-family: 'Roboto Slab';
  vertical-align: top;
  font-size: 15px;
}
.welcome-tile .icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 30px;
  line-height: 60px;
  background: #00E676;
  color: #fff;
}
.welcome-tile .icon.green {
  background: #1DE9B6;
}
.welcome-tile .icon.blue {
  background: #00B0FF;
}
.welcome-tile .icon.purple {
  background: #7C4DFF;
}
.welcome-tile .label {
  display: inline-block;
  width: 100%;
  padding: 18px 0;
  color: #555;
}
