.release-note-block {
   margin-top: 10px;
   position: relative;
   width: 960px;
   margin: auto;

    .badge {
        font-size: 22px;
       
        span {
            padding: 0px 60px;

            a {
                text-decoration: none;
            }
        }

        strong {
         text-align: center;
         display: inline-block;
         color: #fff;
         border-radius: 3px;
         font-family: 'Montserrat';
         font-size: 11px;
         width: 60px;
         padding-top: 3px;
         padding-bottom: 3px;
         text-transform: uppercase;
        }
         margin-bottom: 12px;
    }

    .alpha strong { background: #FF4081; }
    .beta strong { background: #673AB7; }
    .release_candidate strong { background: #FFC107; }
    .stable strong { background: #4CAF50; }
}
