{% extends "document.html" %}

{% block title %}{{appliance['name']}} appliance - GNS3{% endblock %}

{% block breadcrumb %}
    <a href="{{root}}/"><b>Documentation</b></a>
    &nbsp; /  &nbsp;
    <a href="{{root}}/1FFbs5hOBbx8O855KxLetlCwlbymTN8L1zXXQzCqfmy4/index.html#h.appliances">Appliances</a>
    &nbsp; /  &nbsp;
    <a href="#">{{appliance['name']}}</a>
{% endblock %}

{% block toc_top %}
    <h1>
        <a href="#appliance_install">How to install</a>
    </h1>
    {% if appliance['usage'] %}
        <h1><a href="#appliance_usage">Appliance usage</a></h1>
    {% endif %}
    {% if appliance['documentation_url'] %}
        <h1><a href="#appliance_documentation">Appliance documentation</a></h1>
    {% endif %}
    {% if 'versions' in appliance %}
        <h1>
            <a href="#appliance_supported">Version supported</a>
        </h1>
        {% for version in appliance['versions'] %}
            <h2>
                <a href="#appliance_{{version["name"]}}">{{appliance['name']}} {{version["name"]}}</a>
            </h2>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block content_top %}
    <p class="title">{{appliance['name']}} appliance</h1>

    <p>{{appliance['description']}}</p>

    {% if 'product_url' in appliance %}
        <p>More informations on <a href="{{appliance['product_url']}}">{{appliance['product_url']}}</a></p>
    {% endif %}

    <h1 id="appliance_install">How to install</h1>
    <ul>
        <li>Download the appliance file: <a href="https://gns3.com/external/download?url={{ ("https://raw.githubusercontent.com/GNS3/gns3-registry/master/appliances/" + appliance_id + ".gns3a") | urlencode }}">here</a></li>
        {% if appliance['versions'] %}            
            <li>Download the files for one of the supported version <a href="#appliance_supported">here</a></li>                                
        {% endif %}
        {% if 'iou' in appliance %}
            <li><a href="{{root}}//1PKfYwR78QP_Z3jqxBQ1pdy6SsqM27qhvdCvSmIizRh4">Setup IOU</a></li>
        {% endif %}
        <li>Import the .gns3a file in GNS3. <a href="{{root}}/1_3RdgLWgfk4ylRr99htYZrGMoFlJcmKAAaUAc8x9Ph8/index.html">You can follow this tutorial</a></li>
    </ul>
    
    {% if appliance['usage'] %}
        <h1 id="appliance_usage">Appliance usage</h1>
        <p>{{appliance['usage']}}</p>
    {% endif %}
    
    {% if appliance['documentation_url'] %}
        <h1 id="appliance_documentation">Appliance documentation</h1>
        <p>Documentation for using the appliance is available on <a href="{{appliance['documentation_url']}}">{{appliance['documentation_url']}}</a></p>
    {% endif %}
    
    {% if 'versions' in appliance %}
        <h1 id="appliance_supported">Version supported</h1>
        {% for version in appliance['versions'] %}
            <h2 id="appliance_{{version["name"]}}">{{appliance['name']}} {{version["name"]}}</h2>
            <h3>Images require</h3>
            <table>
                <tr>
                    <td>File</td>
                    <td>MD5</td>
                    <td></td>
                </tr>
                {% for key, filename in version["images"].items() %}
                    {% for image in appliance["images"] %}
                        {% if image["filename"] == filename %}
                            <tr>
                                <td>{{filename}}</td>
                                <td>{{image["md5sum"]}}</td>
                                <td>
                                    {% if "direct_download_url" in image %}
                                        <a href="{{image["direct_download_url"]}}">Download</a>
                                    {% elif "download_url" in image %}
                                        <a href="{{image["download_url"]}}">Download</a>
                                    {% else %}
                                        No download link available
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </table>
        {% endfor %}
        <h2>Other versions</h2>
        If you don't have this images you can try to add a new version follow instructions <a href="http://docs.gns3.com/1RpM21DdgL2pCNtIrw6e9Yf52tRjYZIe46LMeESl-jy4">here</a>.
    {% endif %}
{% endblock %}
