<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>{% block title %}GNS3 documentation{% endblock %}</title>
      {% block head %}{% endblock %}

      <script src="https://use.typekit.net/bxm6mit.js"></script>
      <script>try{Typekit.load({ async: true });}catch(e){}</script>

      <link href="//fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"  type="text/css">
      <link href="//fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet"  type="text/css">
      <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
      <link rel="stylesheet" href="{{root}}/theme/style/index.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
      <script type="text/javascript" src="{{root}}/theme/assets/scripts/jquery.min.js"></script>
      <script type="text/javascript" src="{{root}}/theme/assets/scripts/particles.min.js"></script>
   </head>
   <body>
       <div id="header" class="{% block headerstyle %}{% endblock %}">
         <a href="https://gns3.com/" id="logo">
            <img src="{{root}}/theme/assets/images/logo-header.png" alt="GNS3 Documentation">
         </a>
         <div id="nav" class="mui3--t3c">
            <a href="https://gns3.com/software" data-section="software">
               <span class="title">Download</span>
            </a>

            <a href="{{root}}/" data-section="support">
               <span class="title">Documentation</span>
            </a>

            <a href="https://gns3.com/community" data-section="software">
               <span class="title">Community</span>
            </a>

            <a href="https://gns3.com/marketplace" data-section="marketplace">
               <span class="title">Marketplace</span>
            </a>

            <a href="http://academy.gns3.com" target="_blank">
               <span class="title">Academy</span>
            </a>
         </div>
      </div>

      {% block main %}{% endblock %}
   <script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
   <script type="text/javascript"> docsearch({
   apiKey: 'a83755c0872ca3a1d4a8af1ad443d037',
   indexName: 'gns3',
   inputSelector: '.search'
   });
   </script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55817127-4', 'auto');
  ga('send', 'pageview');

</script>
   </body>
</html>
