<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>{% block title %}{% endblock %}</title>
      {% block head %}{% endblock %}

      <script src="https://use.typekit.net/bxm6mit.js"></script>
      <script>try{Typekit.load({ async: true });}catch(e){}</script>

      <link href="//fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"  type="text/css">
      <link href="//fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet"  type="text/css">
      <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
      <link rel="stylesheet" href="{{root}}/theme/style/index.css">
      <script type="text/javascript" src="{{root}}/theme/assets/scripts/jquery.min.js"></script>
      <script type="text/javascript" src="{{root}}/theme/assets/scripts/particles.min.js"></script>
   </head>
   <body>
       <div id="header" class="{% block headerstyle %}{% endblock %}">
         <a href="{{root}}/" id="logo">
            <img src="{{root}}/theme/assets/images/logo-header.png" alt="GNS3 Documentation">
         </a>
         <div id="nav" class="mui3--t3c">
            <a href="https://gns3.com/software" data-section="software">
               <span class="title">Download</span>
            </a>

            <a href="https://docs.gns3.com" data-section="support">
               <span class="title">Documentation</span>
            </a>

            <a href="https://gns3.com/community" data-section="software">
               <span class="title">Community</span>
            </a>

            <a href="https://gns3.com/marketplace" data-section="marketplace">
               <span class="title">Marketplace</span>
            </a>

            <a href="http://academy.gns3.com" target="_blank">
               <span class="title">Academy</span>
            </a>
         </div>
      </div>

      {% block main %}{% endblock %}
   </body>
</html>
