{% extends "base.html" %}

{% block title %}GNS3 {{document.title}}{% endblock %}

{% block main %}
<div class="header-push"></div>
<div class="subheader">
   <div class="breadcrumb">
       <a href="{{root}}/">
         <b>Documentation</b>
      </a>
      &nbsp; /  &nbsp;
      <a href="#">{{document.title}}</a>
   </div>
   <div class="search-input">
      <div class="icon ion-android-search"></div>
      <input type="text" placeholder="Search Documentation" class="search">
   </div>
</div>

<div class="gns3-document">
   <div class="gns3-document-toc">
     {% for toc in document.toc %}
         <h{{toc['level']}}>
            <a href="index.html#{{toc['id']}}">{{toc['text']}}</a>
         </h{{toc['level']}}>
     {% endfor %}
   </div>
   <div class="gns3-document-main">
      <div class="gns3-wrapper gns3-document-styles">
         <div class="meta">
            {% if document.modifiedTime %}
                <b>Last updated</b><br/>
                {{ document.modifiedTime | strftime("%B %-d, %Y") }}
            {% endif %}
            <br/>
            <br/>
            {% if document.authors | length > 0 %}
               <b>Contributors</b><br/>
               {% for author in document.authors %}
                 {{author}}<br/>
               {% endfor %}
            {% endif %}
            <a href="#" class="button-edit">Edit this Article</a>
         </div>
         <div>
            <div class="doc-icon icon ion-ios-gear"></div>
            {{document.content|safe}}
         <div>
      </div>
   </div>
</div>
{% endblock %}
