{% extends "base.html" %}

{% block headerstyle %}welcome{% endblock%}

{% block main %}
<div class="explore-header">
   <div class="headline">
      <div class="welcome-icon icon ion-ios-book-outline"></div>
      <div class="title">Explore Documentation</div>
      <div class="subtitle">The official guide and reference for GNS3</div>
      <div class="search-input">
         <div class="icon ion-android-search"></div>
         <input type="text" placeholder="Search Documentation" class="search">
      </div>
   </div>
   <a href="/" class="button-back">
      <span class="icon ion-chevron-left"></span>
   </a>
</div>

<div class="explore-content">
    {{document.content|safe}}

    <h1 id="h.appliances">Appliances</h1>
    {%
        for (appliances_type, title) in [
          ("router", "Router"),
          ("multilayer_switch", "Multilayer switch"),
          ("firewall", "Firewall"),
          ("guest", "Guest")
        ]
    %}
    <h2>{{title}}</h2>
       {% for appliance_id in appliances.keys() | sort %}
           {% if appliances[appliance_id]["category"] == appliances_type %}
               <p><span><a href="../appliances/{{appliance_id}}.html">{{appliances[appliance_id]["name"]}}</a></span></p>
           {% endif %}
       {% endfor %}
    {% endfor %}
</div>
{% endblock %}
