{% extends "base.html" %}

{% block headerstyle %}welcome{% endblock%}
{% block main %}

<div class="video-header">
   <div class="headline">
      <div class="icon ion-film-marker"></div>
      <div class="title">GNS3 Videos</div>
      <div class="subtitle">Tutorials, Guides & Training</div>
   </div>
</div>
<div class="video-container">
    {% for video in 'UCIIrom1ZESZ70aPJ2cLCsSA' | youtube_channel %}
      <a href="https://www.youtube.com/watch?v={{video['id']}}" class="gns3-docs-video" target="_blank">
        <span class="thumbnail" style="background-image:url(https://i1.ytimg.com/vi/{{video['id']}}/hqdefault.jpg)">
        </span>
        <span class="info">
            <span class="title">{{video['title']}}</span>
            <span class="date">{{video['date'] | strftime("%B %-d, %Y")}}</span>
        </span>
      </a>
    {% endfor %}

    <a href="https://vimeo.com/189665008" class="gns3-docs-video" target="_blank">
        <span class="thumbnail" style="background-image: url(https://i.vimeocdn.com/video/600061694_960.jpg)">
        </span>
        <span class="info">
            <span class="title">GNS3 Introduction Video</span>
            <span class="date">Mon, 31 Oct 2016</span>
        </span>
    </a>
    <a href="https://vimeo.com/109640856" class="gns3-docs-video" target="_blank">
        <span class="thumbnail" style="background-image: url(https://i.vimeocdn.com/video/493638878_960.jpg)">
        </span>
        <span class="info">
            <span class="title">GNS3 Launch Video</span>
            <span class="date">Tue, 21 Oct 2014</span>
        </span>
    </a>
</div>
{% endblock %}
