{% extends "base.html" %}

{% block headerstyle %}welcome{% endblock%}

{% block main %}
<div class="welcome-splash">
   <div id="welcome-particles"></div>
   <div class="welcome-headline">
      <div class="welcome-icon icon ion-ios-book-outline"></div>
      <div class="title">Documentation</div>
      <div class="subtitle">The official guide and reference for GNS3</div>
      <div class="search-input">
         <div class="icon ion-android-search"></div>
         <input type="text" placeholder="Search Documentation" class="search">
      </div>
   </div>
</div>
<div class="welcome-container">
   <div class="welcome-wrapper">
      <div class="welcome-title">
         <div class="title">Explore Documentation</div>
         <div class="date">Last Updated {{ lastModifiedTime | strftime("%B %-d, %Y") }}</div>
      </div>
      <a href="1FFbs5hOBbx8O855KxLetlCwlbymTN8L1zXXQzCqfmy4/index.html" class="welcome-tile">
         <span class="icon ion-folder green"></span>
         <span class="label">Explore Topics</span>
      </a>

      <a href="17Jj0doZyFf-KYyZ1czJufQMlIK8UMlxpoegYs_3Po6Q/index.html" class="welcome-tile">
         <span class="icon ion-document-text green"></span>
         <span class="label">Releases notes</span>
      </a>

      <a class="welcome-tile" href="11YYG4NQlPSl31YwvVvBS9RAsOLSYv0Ocy-uG2K8ytIY/index.html">
         <span class="icon ion-social-windows"></span>
         <span class="label">Getting started<br/>Windows</span>
      </a>
      <a class="welcome-tile" href="1MlG-VjkfQVEDVwGMxE3sJ15eU2KTDsktnZZH8HSR-IQ/index.html">
         <span class="icon ion-social-apple"></span>
         <span class="label">Getting started<br/>Mac OSX</span>
      </a>
      <a class="welcome-tile" href="1QXVIihk7dsOL7Xr7Bmz4zRzTsJ02wklfImGuHwTlaA4/index.html">
         <span class="icon ion-social-tux"></span>
         <span class="label">Getting started<br/>Linux</span>
      </a>
      <a class="welcome-tile" href="1OB0_9M-_QyQZTlC1eY_Dc60BgwjU2bXGdnf-B7Uf_u4/index.html">
         <span class="icon ion-wrench blue"></span>
         <span class="label">Troubleshoot<br/>GNS3</span>
      </a>
      <a class="welcome-tile" href="http://gns3.com/download">
         <span class="icon ion-arrow-down-a blue"></span>
         <span class="label">Download</span>
      </a>
      <a class="welcome-tile" href="https://www.gns3.com/community">
         <span class="icon ion-help purple"></span>
         <span class="label">Support</span>
      </a>
      <a class="welcome-tile" href="http://academy.gns3.com/">
         <span class="icon ion-university purple"></span>
         <span class="label">Training</span>
      </a>
   </div>
</div>
<script type="text/javascript">
   $(function(){
      $.getJSON('{{root}}/theme/welcome/particles.json', function( data ) {
         particlesJS('welcome-particles', data)
      })
   })
</script>
{% endblock %}
